    <div class="bdT ta-c p-10 fsz-sm c-grey-600">
        <span class="unseparated">Copyright © 2025 Δήμος Ελληνικού - Αργυρούπολης (Development by Computer Studio).</span> <span class="unseparated">All rights reserved.</span>
    </div>