    <div class="sidebar">
        <div class="sidebar-inner">
        
            <!-- ### $Sidebar Header with Logo ### -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="/">
                            <div class="gap-2 logo-area justify-content-center">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="logo">
                                        <img src="/resources/logo_elliniko-argyroupoli.png" alt="Logo Δήμου Ελληνικού - Αργυρούπολης">
                                    </div>
                                </div>
                                {{!-- <div class="peer peer-greed">
                                    <h5 class="lh-1 mB-0">Ακίνητα</h5>
                                </div> --}}
                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ### $Sidebar Navigation ### -->
            <nav class="sidebar-nav" aria-label="Main navigation">
                <ul class="sidebar-menu scrollable pos-r">
                    <li class="nav-item mT-30 actived">
                        <a class="sidebar-link" href="/dashboard">
                            <span class="icon-holder">
                            <i class="c-blue-500 ti-home"></i>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    {{#if (can "edit:users")}}
                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-settings"></i>
                            </span>
                                <span class="title">Διαχείριση</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/admin/users">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-user"></i>
                                    </span>
                                <span>Χρήστες</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/admin/roles">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-shield"></i>
                                    </span>
                                <span>Ρόλοι</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li role="separator" class="divider"></li>
                    {{/if}}

                    {{#if (can "view:content")}}
                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-shopping-cart"></i>
                            </span>
                                <span class="title">Σχολικά Κυλικεία</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/canteens/pending">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-time"></i>
                                    </span>
                                <span>Εκκρεμότητες</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens/periods">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-reload"></i>
                                    </span>
                                <span>Περίοδοι</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens/canteens">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-shopping-cart-full"></i>
                                    </span>
                                <span>Κυλικεία</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens/principals">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-agenda"></i>
                                    </span>
                                    <span>Διευθυντές</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens/leases">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-exchange-vertical"></i>
                                    </span>
                                    <span>Μισθώματα Κυλικείων</span>
                                </a>
                            </li>                              
                        </ul>
                    </li>

                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-location-pin"></i>
                            </span>
                                <span class="title">Ακίνητα</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/properties/properties">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-home"></i>
                                    </span>
                                    <span>Ακίνητα</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/properties/parties">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-briefcase"></i>
                                    </span>
                                    <span>Συμβαλλόμενοι</span>
                                </a>
                            </li> 
                            <li>
                                <a class="sidebar-link" href="/properties/leases">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-exchange-vertical"></i>
                                    </span>
                                    <span>Μισθώματα Ακινήτων</span>
                                </a>
                            </li>                            
                        </ul>
                    </li>

                    {{/if}}
   

                    <li role="separator" class="divider"></li>

                    {{#if (can "edit:ownschool")}}
                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-shopping-cart"></i>
                            </span>
                                <span class="title">Το κυλικείο μου</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/canteens/mycanteen">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-info-alt"></i>
                                    </span>
                                    <span>Στοιχεία κυλικείου</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens/mycanteen/current">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-time"></i>
                                    </span>
                                    <span>Τρέχουσα περίοδος</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens/mycanteen/history">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-reload"></i>
                                    </span>
                                    <span>Προηγούμενες περίοδοι</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{/if}}


                    </ul>
                    </li>
                </ul>
            </nav>
            <!-- ### $Sidebar Footer ### -->

        </div>
    </div>