    <div class="sidebar">
        <div class="sidebar-inner">
        
            <!-- ### $Sidebar Header with Logo ### -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <a class="sidebar-link td-n" href="/">
                            <div class="peers fxw-nw gap-2 logo-area justify-content-center">
                                <div class="peer">
                                    <div class="logo">
                                        <img src="/resources/logo.png" alt="Logo Δήμου Ελληνικού - Αργυρούπολης">
                                    </div>
                                </div>
                                {{!-- <div class="peer peer-greed">
                                    <h5 class="lh-1 mB-0">Ακίνητα</h5>
                                </div> --}}
                            </div>
                        </a>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ### $Sidebar Navigation ### -->
            <nav class="sidebar-nav" aria-label="Main navigation">
                <ul class="sidebar-menu scrollable pos-r">
                    <li class="nav-item mT-30 actived">
                        <a class="sidebar-link" href="/dashboard">
                            <span class="icon-holder">
                            <i class="c-blue-500 ti-home"></i>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    {{#if (eq user.role "admin")}}
                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-settings"></i>
                            </span>
                                <span class="title">Διαχείριση</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/admin/users">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-user"></i>
                                    </span>
                                <span>Χρήστες</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/admin/roles">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-shield"></i>
                                    </span>
                                <span>Ρόλοι</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li role="separator" class="divider"></li>
                    {{/if}}

                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-shopping-cart"></i>
                            </span>
                                <span class="title">Σχολικά κυλικεία</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/canteens">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-time"></i>
                                    </span>
                                <span>Εκκρεμότητες</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/canteens">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-shopping-cart-full"></i>
                                    </span>
                                <span>Κυλικεία</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/tenants">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-user"></i>
                                    </span>
                                    <span>Μισθωτές</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/landlords">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-briefcase"></i>
                                    </span>
                                    <span>Εκμισθωτές</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-orange-500 ti-home"></i>
                            </span>
                                <span class="title">Ακίνητα</span>
                            <span class="arrow">
                                <i class="ti-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/properties">
                                    <span class="icon-holder">
                                        <i class="c-blue-200 ti-location-pin"></i>
                                    </span>
                                    <span>Ακίνητα</span>
                                </a>
                            </li>
                        </ul>
                    </li>
   

                    <li role="separator" class="divider my-4"></li>

                    </ul>
                    </li>
                </ul>
            </nav>
            <!-- ### $Sidebar Footer ### -->

        </div>
    </div>