<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Εφαρμογή Ακινήτων Δήμου Ελληνικού-Αργυρούπολης">
    <meta name="author" content="Computer Studio">
    <title>Εφαρμογή Ακινήτων Δήμου Ελληνικού-Αργυρούπολης</title>


    <link href="/favicon.ico" rel="shortcut icon">
    <meta name="theme-color" content="#9cc14d">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/css/adminator.css" rel="stylesheet" media="screen">

    <script defer src="/js/adminator.js"></script>


  </head>




    <body class="app" >


        <div class="page-container">


                    <main class="main-content">

                        <h1>Είσοδος στην εφαρμογή</h1>

                        <div class="error alert alert-danger d-none" role="alert">
                            {{error}}
                        </div>
                        <div class="without-token d-none">
                            <p>Πληκτρολογήστε το email σας ώστε να λάβετε το link</p>
                        </div>
                        <div class="with-token d-none">
                            <p>Επαληθεύουμε το λογαριασμό σας...</p>
                        </div>


                    </main>

        </div> <!-- .page-container -->






        <script src="/js/dim.js"></script>
        <script type="module">
            const error = {{check error 'true' 'false'}};
            const token = Q.url.get('token');
            if (error) {
                Q('.error').show();
            } else if (token) {
                Q('.with-token').show();
                Q.cookies.set('token', token, 30);
                Q.url.goto('/dashboard');
            } else {
                Q('.without-token').show();
            }
        </script>












  </body>
</html>
