
:root{
    --bs-body-bg: hsl(240, 67%, 97%);
    --bs-heading-color: hsl(277, 100%, 15%);

    --bs-nav-text-color: rgb(0, 0, 63%);
    --nav-hover-color: purple;
    --nav-active-color: hsl(277, 50%, 25%);
    --nav-active-text-color: hsl(277, 100%, 94%);
    --divider-color: lavender;
    --border-color: hsl(277, 50%, 30%);
    --input-bg-color: hsl(240, 67%, 98%);

    --bs-btn-bg: green;
    --bs-orange: hsl(39, 100%, 46%);
    --bs-warning-rgb: 235, 152, 0;
    --bs-pink: hsl(332, 100%, 60%);

    interpolate-size: allow-keywords; /* Smooth transitions */

}


/*********     DIM      *********/

/* Prevent all non-defined custom elements from displaying: */
*:not(:defined) { display: none; }

/* Hide cloaked elements for Alpine.js */
[x-cloak] { display: none !important; }

/* View transition between pages */
@view-transition {
    navigation: auto;
}

/* smooth scrolling by default */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}


/*********   DIM TABLES *********/
/* Για να μην πηδάει στο φόρτωμα */
table.dim-table:not([data-dimtables-initialized="1"]) { margin-top: 3rem }
.dim-table-bar { height: 2rem }
/* Περιορισμός κελιών σε 50 χαρακτήρες με ellipsis (...) */
table.dim-table td {
    max-width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




/*********     THEME CORRECTIONS     *********/

body{
    /* color-scheme: dark; */
    background-color: var(--bs-body-bg);
}

main{
    margin-inline: 0.5rem;   /* for mobile */
    container-type: inline-size;
    container-name: main;
    /* border: var(--bs-border-width) var(--bs-border-style) white;
    border-radius: var(--bs-border-radius); */
}

.main-content {
    min-height: calc(100vh - 45px);
}

div {
    /* background-color: var(--bs-body-bg); */
    background-color: revert;
    /* color: revert; */
}

h3,h4,h5,p{margin-bottom: revert;}

.table td{min-width: 18ch}

/* h1{font-size: 2.5rem}
h2{font-size: 2rem}
h3{font-size: 1.5rem} */

/* btn:is(.btn-success, .btn-primary, .btn-warning, .btn-info, .btn-danger, .btn-secondary){
    --bs-btn-color: #fff;
} */

.btn{
    padding: 0.6rem 1.2rem !important;
    min-width: 3rem;
}
.btn, .btn:focus, .btn:active, .btn:hover{
    color: var(--bs-light) !important;
 }
.btn:hover i {
    color: var(--bs-light) !important;
}

.btn-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

input.form-control{
    border-color: hsl(240, 93%, 90%);
}
input[readonly]{
    background-color: hsl(240, 50%, 92%) !important;
}
input::placeholder{
    color: gray !important;
    opacity: 1 !important; /* Firefox */
}
.form-select{
    background-color: var(--input-bg-color);
}
.dropdown-search{
    max-width: 30ch;
}

.bg-orange{
    background-color: var(--bs-orange) !important;
    color: var(--bs-light) !important;
}
.bg-purple{
    background-color: var(--bs-purple) !important;
    color: var(--bs-light) !important;
}
.bg-pink{
    background-color: var(--bs-pink) !important;
    color: var(--bs-light) !important;
}
.bg-indigo{
    background-color: var(--bs-indigo) !important;
    color: var(--bs-light) !important;
}

a.text-primary, .btn-outline-primary, .btn-outline-primary i{
    color: #04c !important;
    border-color: #04c !important;
}


/*********    LAYOUT    **********/ 

.sidebar{
    background-color: var(--bs-body-bg);
    border-right: 1px solid var(--border-color);
}

.sidebar-logo a .logo{
    align-content: center;  /* center vertically */
    width: auto;
}
.sidebar-logo a .logo img {
    height: 60px;
    width: auto;
}


.header, .sidebar-logo {        
    height: 4.2rem;     /*These two should have the same height*/
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid #ccc;
}


.sidebar-menu *, .dropdown-menu *,  .dropdown-menu li,  .dropdown-menu a, .dropdown-menu div, .dropdown-menu span {
    transition: all 0.5s ease-in-out !important;
}
.sidebar-menu li a, .dropdown-menu li a {
    color: var(--bs-nav-text-color) !important;
    &:hover, &.active {
        background-color: var(--nav-hover-color) !important;
        color: var(--nav-active-text-color) !important;
    }
}

.icon-holder{
    margin-inline: 0.2rem;
}

/* .sidebar-menu a.dropdown-toggle:has(+.dropdown-menu a:hover) {
    background-color: var(--nav-hover-color) !important;
} */

.divider{
    background-color: var(--divider-color);
    opacity: 0.2;
    height: 2px;
}

.card{
    background-color: hsl(240, 67%, 96%);
    & input, input:focus{
        background-color: var(--input-bg-color);
    }
}

.card.canteen-card{
    background-color: hsl(210, 95%, 86%);
    border: 1px solid hsl(210, 95%, 78%) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    &:hover {
        transform: translateY(-5px);
    }
}
