<h1 class="text-center text-light">Εφαρμογή Ακινήτων Δήμου Ελληνικού-Αργυρούπολης</h1>

        <div class="error alert alert-danger d-none" role="alert">
            {{error}}
        </div>
        <div class="with-token alert alert-info d-none">
            Επαληθεύουμε το λογαριασμό σας...
        </div>

        <div class="container without-token d-none" style="margin-top: 5rem;">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Είσοδος</h2>
                                <p>Πληκτρολογήστε τη διεύθυνση e-mail σας και κάντε κλικ στο κουμπί "Αποστολή συνδέσμου". <br>
                                    Θα λάβετε ένα σύνδεσμο (link) στο e-mail σας, με τον οποίο θα συνδεθείτε στην εφαρμογή.
                                </p>
                            <form action="/magiclink" method="POST">
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email" required autofocus>
                                </div>
                                <button type="submit" class="btn btn-success w-100">Αποστολή συνδέσμου</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>









        <script type="module">
            const error = {{check error 'true' 'false'}};
            const token = Q.url.get('token');
            if (error) {
                Q('.error').show();
            } else if (token) {
                Q('.with-token').show();
                Q.cookies.set('token', token, 30);
                Q.url.goto('/dashboard');
            } else {
                Q('.without-token').show();
            }
        </script>





